@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 17rem 2rem 17rem 2rem 17rem 2rem 17rem;
  grid-template-rows: 18rem 1.5rem 17rem;
  height: fit-content;
  width: fit-content;
}

.testimonialTopLeft {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem 2rem;
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.6rem;
  position: relative;
  z-index: 1;
}

.backgroundImg {
  position: absolute;
  top: 0;
  right: 6.5rem;
  z-index: -1;
}

.testimonialTopMiddle {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1.5rem 2rem;
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.6rem;
}

.testimonialBottomLeft {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1.5rem 2rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  border: none;
  border-radius: 0.6rem;
}

.testimonialBottomMiddle {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 1.5rem 2rem;
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 0.6rem;
}

.testimonialTopAndBottomRight {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 1.5rem 2rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
  border: none;
  border-radius: 0.6rem;
}

.graduateContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.profilePicture {
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.borderWhite {
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.borderPurple {
  border: 2px solid hsl(263, 55%, 52%);
}

.name {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.verified {
  font-size: 0.65rem;
  font-weight: 500;
  opacity: 0.55;
}

.testimonialIntro {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.testimonialStory {
  font-size: 0.85rem;
  font-weight: 500;
  opacity: 0.65;
  line-height: 1.2rem;
}

@media only screen and (max-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
    font-family: "Barlow Semi Condensed", sans-serif;
  }

  .container {
    display: grid;
    grid-template-columns: 19rem;
    grid-template-rows: 13rem 1.5rem 15rem 1.5rem 17rem 1.5rem 14rem 1.5rem 15rem 1.5rem 11rem 1.5rem 15rem 1.5rem 17rem;
    margin: 5rem 0;
  }

  .testimonialTopLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 1.5rem 2rem;
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.6rem;
    position: relative;
  }

  .testimonialTopMiddle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 1.5rem 2rem;
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.6rem;
  }

  .testimonialBottomLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    padding: 1.5rem 2rem;
    background-color: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
    border: none;
    border-radius: 0.6rem;
  }

  .testimonialBottomMiddle {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 12;
    padding: 1.5rem 2rem;
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.6rem;
  }

  .testimonialTopAndBottomRight {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 16;
    padding: 1.5rem 2rem;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.6rem;
  }

  .backgroundImg {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: -1;
  }
}
